.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Exclude appsettings files from source control
src/MFlix.GrpcApi/appsettings.json

# node
node_modules